<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
         	id="br.usp.each.saeg.badua.ui"
         	label="BADUINO">
         	</menu>   
      </menuContribution>
      
          <menuContribution 
          locationURI= "popup:br.usp.each.saeg.badua.ui?after=additions">
             <command
                   commandId="br.usp.each.saeg.badua.dataflow.handler"
                   label="Project DUAs Visualization"
                   style="push">
                <visibleWhen
                      checkEnabled="false">
                   <with
                         variable="activeMenuSelection">
                      <iterate
                            ifEmpty="false"
                            operator="or">
                         <adapt
                               type="org.eclipse.jdt.core.IJavaProject">
                         </adapt>
                      </iterate>
                   </with>
                </visibleWhen>
             </command>
             <command
                   commandId="br.usp.each.saeg.badua.dataflow.handler"
                   label="Folder DUAs Visualization"
                   style="push">
                <visibleWhen
                      checkEnabled="false">
                   <with
                         variable="activeMenuSelection">
                      <iterate
                            ifEmpty="false"
                            operator="or">
                         <adapt
                               type="org.eclipse.jdt.core.IPackageFragmentRoot">
                         </adapt>
                      </iterate>
                   </with>
                </visibleWhen>
             </command>
             <command
                   commandId="br.usp.each.saeg.badua.dataflow.handler"
                   label="Package DUAs Visualization"
                   style="push">
                <visibleWhen
                      checkEnabled="false">
                   <with
                         variable="activeMenuSelection">
                      <iterate
                            ifEmpty="false"
                            operator="or">
                         <adapt
                               type="org.eclipse.jdt.core.IPackageFragment">
                         </adapt>
                      </iterate>
                   </with>
                </visibleWhen>
             </command>
             <command
                   commandId="br.usp.each.saeg.badua.dataflow.handler"
                   label="Class DUAs Visualization"
                   style="push">
                <visibleWhen
                      checkEnabled="false">
                   <with
                         variable="activeMenuSelection">
                      <iterate
                            ifEmpty="false"
                            operator="or">
                         <adapt
                               type="org.eclipse.jdt.core.ICompilationUnit">
                         </adapt>
                      </iterate>
                   </with>
                </visibleWhen>
             </command>
            <command
                commandId="br.usp.each.saeg.badua.commands.runJaguar"
                id="br.usp.each.saeg.badua.menu.item.runJaguar"
                label="Run Tests">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <adapt
                              type="org.eclipse.jdt.core.IJavaProject">
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
      </menuContribution>
          <menuContribution
                allPopups="false"
                locationURI="toolbar:br.usp.each.saeg.badua.DataflowView">
             <command
                   commandId="br.usp.each.badua.toolbar.handler"
                   hoverIcon="icons/classes.gif"
                   icon="icons/public_co.gif"
                   label="Remove highlight"
                   style="push"
                   tooltip="Remove highlight">
             </command>
          </menuContribution>
      
   </extension>
<!--   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="br.usp.each.saeg.badua.handlers.DataflowHandler"
            id="br.usp.each.saeg.badua.dataflow.handler"
            name="DataflowViewHandler">
      </command>
   </extension> -->
   <extension
         point="org.eclipse.ui.views">
      <category
            id="br.usp.each.saeg.badua.coverage"
            name="Coverage">
      </category>
      <view
            category="br.usp.each.saeg.badua.coverage"
            class="br.usp.each.saeg.badua.views.DataFlowMethodView"
            id="br.usp.each.saeg.badua.DataflowView"
            name="DataflowView"
            restorable="true">
      </view>
   </extension>
   <extension
         id="br.usp.each.saeg.badua.markers.definition"
         name="Definition Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         id="br.usp.each.saeg.badua.markers.use"
         name="Use Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         id="br.usp.each.saeg.badua.markers.target"
         name="Target Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         id="br.usp.each.saeg.badua.markers.sameLine"
         name="Same Line Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         id="br.usp.each.saeg.badua.markers.pointer"
         name="Pointer Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="br.usp.each.saeg.badua.definitionAnnotation"
            colorPreferenceKey="definition_color"
            colorPreferenceValue="192,255,192"
            contributesToHeader="false"
            highlightPreferenceKey="definition_highlight"
            highlightPreferenceValue="true"
            icon="icons/empty.gif"
            includeOnPreferencePage="true"
            label="Definition Annotation"
            overviewRulerPreferenceKey="definition_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="definition_text"
            textPreferenceValue="true"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="definition_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="br.usp.each.saeg.badua.useAnnotation"
            colorPreferenceKey="use_color"
            colorPreferenceValue="255,160,160"
            contributesToHeader="false"
            highlightPreferenceKey="use_highlight"
            highlightPreferenceValue="true"
            icon="icons/empty.gif"
            includeOnPreferencePage="true"
            label="Use Annotation"
            overviewRulerPreferenceKey="use_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="use_text"
            textPreferenceValue="true"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="use_overviewRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="br.usp.each.saeg.badua.targetAnnotation"
            colorPreferenceKey="target_color"
            colorPreferenceValue="255,160,160"
            contributesToHeader="false"
            highlightPreferenceKey="target_highlight"
            highlightPreferenceValue="true"
            icon="icons/empty.gif"
            includeOnPreferencePage="true"
            label="Target Annotation"
            overviewRulerPreferenceKey="target_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="target_text"
            textPreferenceValue="true"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="target_overviewRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="br.usp.each.saeg.badua.sameLineAnnotation"
            colorPreferenceKey="sameLine_color"
            colorPreferenceValue="200,120,50"
            contributesToHeader="false"
            highlightPreferenceKey="sameLine_highlight"
            highlightPreferenceValue="true"
            icon="icons/empty.gif"
            includeOnPreferencePage="true"
            label="SameLine Annotation"
            overviewRulerPreferenceKey="sameLine_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="sameLine_text"
            textPreferenceValue="true"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="sameLine_verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="br.usp.each.saeg.badua.markers.definition"
            name="br.usp.each.saeg.badua.definitionAnnotation">
      </type>
      <type
            markerType="br.usp.each.saeg.badua.markers.use"
            name="br.usp.each.saeg.badua.useAnnotation">
      </type>
       <type
            markerType="br.usp.each.saeg.badua.markers.target"
            name="br.usp.each.saeg.badua.targetAnnotation">
      </type>
      <type
            markerType="br.usp.each.saeg.badua.markers.sameLine"
            name="br.usp.each.saeg.badua.sameLineAnnotation">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="br.usp.each.saeg.badua.handlers.RunTestsHandler"
            commandId="br.usp.each.saeg.badua.commands.runJaguar"
            helpContextId="RunTests Handler">
      </handler>
      <handler
            class="br.usp.each.saeg.badua.handlers.VisualizationHandler"
            commandId="br.usp.each.saeg.badua.dataflow.handler">
      </handler>
      <handler
            class="br.usp.each.saeg.badua.handlers.CleanAllHighlightHandler"
            commandId="br.usp.each.badua.toolbar.handler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="br.usp.each.saeg.badua.commands.runJaguar"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+1">
      </key>
   </extension>

</plugin>
