<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="br.usp.each.saeg.badua.toolbar1">
            <command
                  commandId="br.usp.each.saeg.badua.command1"
                  icon="src/main/resources/br/com/ooboo/asm/defuse/viz/swing/class.png"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="br.usp.each.saeg.badua.dataflow.handler"
               label="Dataflow Coverage"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <adapt
                           type="org.eclipse.jdt.core.ICompilationUnit">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="toolbarHandler"
            id="br.usp.each.saeg.badua.command1"
            name="ToolbarCommand">
      </command>
      <command
            defaultHandler="DataflowHandler"
            id="br.usp.each.saeg.badua.dataflow.handler"
            name="DataflowViewHandler">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="br.usp.each.saeg.badua.coverage"
            name="Coverage">
      </category>
      <view
            category="br.usp.each.saeg.badua.coverage"
            class="DataflowMethodView"
            id="br.usp.each.saeg.badua.DataFlowView"
            name="DataflowView"
            restorable="true">
      </view>
   </extension>

</plugin>
